
@import 'container.css';

@import 'cards.css';

@import 'cards.css';

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin:wght@400;500&family=Gloock&family=Merriweather:wght@300;400&family=Roboto:wght@400;700;900&display=swap');

body {
  font-family: 'Merriweather', sans-serif;
  background: #36D1DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 0;
  padding: 0;
}
